:root {
  --white-simple: #ffffff;
  --lite-grey: rgb(163, 163, 163);
  --very-lite-grey: hsl(0, 0%, 86%);;
  --dark-grey: #1f2327;
  --shadow: 0px 0px 11px -2px rgba(34, 60, 80, 0.2);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  gap: 10px;
}

.header {
  height: max-content;
  max-height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  background: var(--lite-grey);
}

.img {
  width: 100%;
  max-width: 500px;
}

.logo {
  width: 100%;
  max-width: 50px;
}

.title {
  font-size: 1.2em;
  font-weight: normal;
  color: var(--dark-grey);
}

.btn {
  width: 100%;
  max-width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 11.5px 16px;
  background: var(--white-simple);
  border: 1px solid var(--dark-grey);
  border-radius: 24px;
  cursor: pointer;
}

.btn:disabled {
  cursor: default;
  border: 1px solid var(--lite-grey);
}

.input {
  background: var(--white-simple);
  border: 1px solid var(--dark-grey);
  border-radius: 20px;
  margin-top: 16px;
  padding: 10px 18px;
  outline: none;
  font-style: normal;
  font-weight: 400;
  color: var(--dark-grey);
}

.link {
  color: var(--dark-grey);
}

.interceptor {
  height: 10px;
}